.gallery-item {
    padding: 5px;
    border-radius: 25px;
    transition: all .2s ease-in-out; 

}

.gallery-item:hover { transform: scale(1.01); }
.proj-img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
  
.piece-desc {
    margin-top: 0;
    padding: 1em;
    text-align: center;
    border: 1px solid #ddd;
    background: blanchedalmond;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.text {
    color: teal;
}

.btn {
    background: lightsteelblue;
    border-radius: 12px;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.btn:hover {
    background-color: teal;
    color: blanchedalmond;
}
.btn:active {
    transform: translateY(4px);
}
  