body {
  background-color: rgb(11, 100, 122);
  font-family: 'Laila', serif;
}

#title {
    padding: 1.5em;
}
nav ul a,
nav .brand-logo {
  color: blanchedalmond;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: blanchedalmond;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
div {
    color: blanchedalmond;
}

nav {
  background-color: rgba(0, 0, 0, 0);
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  height: 75px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
  
#headshot {
  padding: 5px;
  margin: auto;
  min-width: 400px;
  height: auto;
  margin-top: 20px;  
}

#aboutText {
  margin: auto;
  padding: 25px;  
}

#aboutSection {
  padding: 30px;
}

