body {
    background-color: rgb(145, 226, 226);
  }
  nav ul a,
  nav .brand-logo {
    color: #444;
  }
  
  p {
    line-height: 2rem;
  }
  
  .sidenav-trigger {
    color:#444;
  }
  
  .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
    .parallax-container .section {
      width: 100%;
    }
  
  
  #form {
    border: solid grey 2px;
    background-color: blanchedalmond;
  }
  
  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }
  
  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  }
  
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  
  footer.page-footer {
    margin: 0;
    height: 75px;
  }
  
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
  #headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }